VITE_SHEETS_WEB_APP_URL=https://script.google.com/macros/s/REPLACE_WITH_YOUR_DEPLOYMENT_ID/exec
VITE_SHEETS_WRITE_TOKEN=REPLACE_WITH_YOUR_DEV_WRITE_TOKEN

# Vercel server envs (do not use VITE_ prefix):
# SHEETS_WEB_APP_URL=https://script.google.com/macros/s/REPLACE_WITH_YOUR_DEPLOYMENT_ID/exec
# SHEETS_WRITE_TOKEN=REPLACE_WITH_YOUR_SERVER_WRITE_TOKEN
# PASSCODE_HASH=pbkdf2$120000$<salt>$<hash>
# AUTH_COOKIE_SECRET=replace_with_long_random_secret
# AUTH_SESSION_DAYS=7
# AUTH_MAX_ATTEMPTS=5
# AUTH_LOCKOUT_MINUTES=15

